
<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div id="seanpic" class="col-md-12">
            <img src="~/Images/SeanNewBWSM.jpg" class="center-block img-thumbnail img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="title">About Me</h2>
            <p class="text-justify">
                My education includes a Bachelor of Science in Business Information Systems, and a Master of Science in Information Systems.
                My experience includes over 30 years of project-based, consulting-related employment in two technical fields,
                including 20 years of software analysis, design and development experience with a wide variety of leading organizations.
                These include, but are not limited to Microsoft, The Boeing Company, Nordstrom, The United States Army,
                The United States Air Force, The State of Washington, Alaska Airlines, Wachovia Securities, Russell Investments and Weyerhaeuser.
            </p>
            <p class="text-justify">
                My career in software development spans three decades. I have specialized in Microsoft SharePoint Server development,
                and successfully completed a wide range of projects in SharePoint 2007, 2010 and 2013. I was a key developer on
                what was, at the time, the largest SharePoint deployment in the world (AFCENT) for the United States Air Force. I have completed
                many projects for Fortune 100 and Federal Government agencies. I have an inactive Secret DOD Clearance that can be re-activated with minimal effort.
            </p>
            <p class="text-justify">
                Prior to engaging in SharePoint, I had decades of experience developing data-based applications. I worked with a wide variety of
                technologies, particularly in the Microsoft stack. I am certified in, and have substantial experience with the Microsoft.NET framework,
                the C# and VB.NET programming languages, and the SQL Server database engine (including T-SQL). A list of projects can
                be seen on my <a href="https://www.linkedin.com/in/sharepointsean" target="_blank">LinkedIn profile</a>.
            </p>
            <p class="text-justify">
                In June 2013 I began a four year hiatus from development to teach technology at the collegiate level.
                During that time I developed and taught the following courses: Introduction to Computer Information Systems, Database Fundamentals using SQL Server,
                Introduction to T-SQL, Advanced T-SQL Programming, Database Administration using SQL Server, Business Analysis, Systems Analysis and Design,
                Business Intelligence, Client Side Web Programming with HTML5, CSS and JavaScript, Server Side Web Programming with Webforms and ASP.MVC,
                Structured Programming with C#, Introduction to Computer Programming with Python, Beginning Object Oriented Programming with C#,
                Intermediate Object Oriented Programming with C#, and Computer Science with Java. During this time I earned the <a href="http://certification.comptia.org/certifications/ctt" target="_blank">
                    CompTIA Certified Technical Trainer+ (CTT+)
                </a> certification.
            </p>
            <p class="text-justify">
                I relocated to the St. Petersburg area in June of 2017, and am looking forward to joining my colleagues in the area in creating useful and compelling solutions
                that solve challenging business problems. A live copy of my resume is posted below. Please feel free to download and share it, as well as connect with me on LinkedIn.
            </p>
        </div>
    </div>
</section>