<!-- Certifications Section -->
<section id="certs" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="sectionheader">Professional and Technical Certifications</h3>
            </div>
        </div>
    </div>
</section>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Number</th>
                            <th>Issuer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Microsoft Certified Professional</td>
                            <td>E549-2419</td>
                            <td>Microsoft</td>
                        </tr>
                        <tr>
                            <td>MCTS: Microsoft Windows SharePoint Services: Application Development</td>
                            <td>C051-0435</td>
                            <td>Microsoft</td>
                        </tr>
                        <tr>
                            <td>MCTS: Microsoft Windows SharePoint Services: Configuration</td>
                            <td>C051-0436</td>
                            <td>Microsoft</td>
                        </tr>
                        <tr>
                            <td>MTA: Database Administration Fundamentals</td>
                            <td>E549-2420</td>
                            <td>Microsoft</td>
                        </tr>
                        <tr>
                            <td>MTA: Web Development Fundamentals</td>
                            <td>E888-5938</td>
                            <td>Microsoft</td>
                        </tr>
                        <tr>
                            <td>MTA: Software Development Fundamentals</td>
                            <td>E888-5939</td>
                            <td>Microsoft</td>
                        </tr>
                        <tr>
                            <td>CompTIA Security+</td>
                            <td>262477731</td>
                            <td>CompTIA</td>
                        </tr>
                        <tr>
                            <td>CompTIA Certified Technical Trainer (CTT+) - Classroom</td>
                            <td>JTIV2214</td>
                            <td>CompTIA</td>
                        </tr>
                        <tr>
                            <td>Certificate in Programming Languages</td>
                            <td>N/A</td>
                            <td>Pierce College</td>
                        </tr>
                        <tr>
                            <td>Certificate in Adult Education</td>
                            <td>N/A</td>
                            <td>Renton Technical College</td>
                        </tr>
                        <tr>
                            <td>Certificate – Hybrid Courses: Best of Both Worlds</td>
                            <td>N/A</td>
                            <td>Renton Technical College</td>
                        </tr>
                        <tr>
                            <td>Certificate – Teaching Online: Reflections on Practice</td>
                            <td>N/A</td>
                            <td>Kirkwood Community College</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

