<!-- Intro Header -->
<header class="intro">
    <div class="sectionheader intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Sean Moran</h1>
                    <h2>MSIS - MCP - CTT+</h2>
                    <p class="intro-text">
                        SharePoint Developer - .NET Developer<br />SQL Server Developer - Technical Trainer
                        <br />Tampa - Clearwater - St. Petersburg Area
                    </p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
