<!--References Section-->
<section id="references" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="sectionheader">What My Colleagues Say</h3>
            </div>
        </div>
    </div>
</section>
<section class="container text-justify ">
    <div class="row">
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-content">
                                <div>
                                    <h4>Sushil Kumar - Sr. SharePoint Consultant</h4>
                                    <p>
                                        Sean is extremely talented, hard working and motivated individual. I worked with Sean on a number of projects and witnessed firsthand technical and managerial excellence we well as highest level of integrity. Sean has a very cool communication style which inspires confidence in customers and gets his team motivated.
                                        I hope to continue working with Sean on many new SharePoint projects and would not hesitate to recommend him to anyone
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <h4>Bob Nelson - Sr SharePoint Administrator</h4>
                                    <p>
                                        Sean is a very well-organized project manager - his daily status meetings were a great way to keep tabs on what the team was doing and planned on doing for the day.
                                        He is an extremely knowledgable SharePoint programmer and has been the main resource to all the SharePoint developers on the team. Sean is always ahead of the curve, and has been instrumental in paving the way for our ventures into SharePoint 2013.
                                        Sean has been steadfast in pushing the migration from 2007 to 2010 full steam ahead, and has been instrumental in our acquiring the 3rd party products we need to make this happen smoothly.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <h4>James Summers - Director, CACI</h4>
                                    <p>
                                        Sean has been our go to guy for difficult solutions in our MOSS implementation at USAFCENT. He is invariably handpicked for difficult and complex assignments. Sean is instrumental in supporting the warfighter with the Air Force's single largest MOSS implementation to date. He has the keen ability to rapidly acquire indent knowledge of intricate systems and varied operational evolutions. I highly recommend Sean for any MOSS task and look forward to a long relationship here at infoReliance.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <h4>Johnny Brunson - SharePoint Community Lead at InfoReliance</h4>
                                    <p>
                                        Bottom line, Sean is a team player, and always has the best interest of the customer and team in mind when he attacks a development need. I happily offer my highest recommendation to Sean, who not only has been a pleasure to work with but has also become a very good friend.

                                        Hats off Sean, always a job well done.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <h4>Patti Pierce, Senior Consultant at Client Solution Architects</h4>
                                    <p>
                                        As part of the development team, Sean has consistently exceeded expectations in terms of software quality and technical approach. He understands how to deploy solutions to a very complex enterprise environment and always can be counted on to make sure those solutions meet end user expectations. He is quick to partner with other project resources to problem solve, improve processes and bring new ideas to the table. It is a pleasure to work with Sean.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <h4>David McGee - Director at Gimmal</h4>
                                    <p>
                                        Sean is a tenacious software developer, and has proven himself in creative and innovative ways. His ability to anticipate and identify down range issues is highly developed. His maturity and wisdom has brought value to the project in multiple ways. Sean is a self starter and is not content to sit idly waiting for things to do, and on numerous occasions he uses lag time between projects to pick up and learn new technologies. I highly recommend Sean, as he is a valuable member of the AFCENT SharePoint Portal project.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <h4>Jerry Cote - Senior Lead Systems Developer</h4>
                                    <p>
                                        In addition to being solid in the fundamentals of software development, Sean is a continuously growing font of SharePoint's two critical points of mastery: broad architectural comprehension, and knowledge of the hundreds of obscure fixes to SharePoint's poorly-error-messaged problems and often undocumented process details. He's a deep study of the product, and it shows. We avoid mistakes as a team as he calls out details others miss. Beyond all that, Sean brings a quick wit and profound sense of humor to the group.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <h4>John Carpenter - Senior Director of Operations at ADP</h4>
                                    <p>
                                        I enjoyed working with Sean on a personal and professional level. I felt we could put him on any project leveraging any tool set (not just SharePoint) and the job would be documented, architected, implemented and tested successfully through his involvement. I admire his passion for learning and feel confident having him on the team.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <h4>Wade Bauer, PMP - Project Manager</h4>
                                    <p>
                                        I recommend Sean for any SharePoint development project. I was the Project Management on the development of a Sharepoint site and found Sean to be easy to work with, and he enthusiastically met all of his committments to the project. Developers of him enthusiasm and committment make the job of PM much easier.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <h4>Hunter Mayer - Software Developer</h4>
                                    <p>
                                        I worked with Sean on a few releases of a software project. The project still uses some of his contributions to this day. Coupled with his educational background he brought a invaluable wealth of experience to the project we were working on. The most valued asset above all else from a peer perspective was that he was able to ramp up very quickly. You told him what you wanted and with little management he was off and producing.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
