
<!-- Resume Section -->
<section>
    <section id="resume" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="sectionheader">Development Resume</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-justify">
                        <a href="https://1drv.ms/w/s!AkpK_OaBXaFGgoEKaV78FM1SF5WuzA" target="_blank">
                            This technical resume
                        </a>
                        includes highlights of my three-decade career in technology,
                        and will give you a good idea of what I has done in the past, as well
                        as my capabilities. This resume focuses on chronology of projects,
                        as well as technologies used.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a href="https://1drv.ms/w/s!AkpK_OaBXaFGgoEKaV78FM1SF5WuzA" target="_blank">
                        <img src="~/Images/developersresume.png" class="center-block img-responsive" />
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>